## <center>This Model will Attempt to Predict the Type of Bicycle Used from Trip Data</center>

In [1]:
# Eliminating Warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Importing Libraries
import pandas as pd
import numpy as np
import os
from pathlib import Path
from collections import Counter
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import RandomOverSampler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from imblearn.over_sampling import SMOTE
from sklearn.metrics import balanced_accuracy_score

In [3]:
# Set up data path
data_path = 'data'

In [4]:
# Load base data to dataframe
all_data_file = 'all_data.csv'
all_df = pd.read_csv(os.path.join(data_path, all_data_file))
all_df

,Date,Destination,Miles,Hours,Minutes,Duration,Speed,Type
0,6/7/19,CP BL,7.47,NaN,54.0,0.90,8.30,Specialized
1,7/24/19,Down ES Up WS,16.29,2.0,36.0,2.60,6.27,Specialized
2,7/26/19,To Essex Market,3.14,NaN,27.0,0.45,6.98,Citibike
3,9/23/16,Citibike to Work,1.10,NaN,11.0,0.18,6.00,Citibike
4,8/9/16,Citibike to Work,1.31,NaN,11.0,0.18,7.15,Citibike
...,...,...,...,...,...,...,...,...
348,5/24/19,CP BL,6.79,NaN,47.0,0.78,8.67,Specialized
349,7/29/20,Wards Island,12.55,1.0,43.0,1.72,7.31,Specialized
350,10/20/16,Citibike from Work,0.89,NaN,6.0,0.10,8.90,Citibike
351,8/6/19,CP BL Up Down WS,15.00,1.0,46.0,1.77,8.49,Specialized
352,10/11/16,Citibike to Work,1.33,NaN,11.0,0.18,7.25,Citibike

In [5]:
# Defining fields to use
columns = ['Miles', 'Duration', 'Speed','Type']
# target = ['Type']

In [6]:
# Create Dataframe with desired columns
bike_df = all_df.loc[:,columns].copy()
bike_df

     Miles  Duration  Speed         Type
0     7.47      0.90   8.30  Specialized
1    16.29      2.60   6.27  Specialized
2     3.14      0.45   6.98     Citibike
3     1.10      0.18   6.00     Citibike
4     1.31      0.18   7.15     Citibike
..     ...       ...    ...          ...
348   6.79      0.78   8.67  Specialized
349  12.55      1.72   7.31  Specialized
350   0.89      0.10   8.90     Citibike
351  15.00      1.77   8.49  Specialized
352   1.33      0.18   7.25     Citibike

[353 rows x 4 columns]

In [7]:
# Create Dataframe with desired columns
# Demonstrating different way to do it
#new2_df = all_df[['Miles', 'Duration', 'Speed', 'Type']]
#new2_df

In [8]:
# Splitting out Features and Target
y = bike_df["Type"]
X = bike_df.drop(columns="Type")

In [9]:
# Splitting out Training and Testing data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=2, stratify=y)

In [10]:
# Checking training data shape
X_train.shape

(264, 3)

In [11]:
# Checking testing data shape
X_test.shape

(89, 3)

In [12]:
# Creating the Logistic Regression Model
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs', max_iter=200, random_state=2)

In [13]:
# Training the Model
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=200, random_state=2)

In [14]:
# Create Predictions
y_pred = classifier.predict(X_test)

In [15]:
# Get accuracy score
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

1.0